[*]
trim_trailing_whitespace = true

[*.{patch,.diff,.patch.*}]
trim_trailing_whitespace = false

[*.sh]
indent_style = tab

[*.py]
indent_style = space
indent_size = 4

[repo.json]
indent_style = space
indent_size = 2

[Dockerfile]
indent_style = tab

[scripts/profile.json]
indent_style = space
indent_size = 4

[*.md]
trim_trailing_whitespace = false
indent_style = space
indent_size = 4

[*.{yml,yaml}]
indent_style = space
indent_size = 2

[ndk-patches/*.h]
indent_style = tab

[scripts/utils/**.sh]
indent_style = space
indent_size = 4
