# Default.
*           text eol=lf

# Patches.
*.diff      text=binary
*.patch     text=binary
*.patch32   text=binary
*.patch64   text=binary
*.patch.*   text=binary

# Powershell scripts.
*.ps1       text eol=crlf

# Binaries.
*.gpg       binary
*.gz        binary
*.jpg       binary
*.png       binary
*.tar       binary
*.tar.*     binary
