# Default.
*           text eol=lf

# Treat patch files as binaries but let diff'ing them
# as normal text.
*.diff      binary diff
*.patch     binary diff
*.patch32   binary diff
*.patch64   binary diff
*.patch.*   binary diff

# Powershell scripts.
*.ps1       text eol=crlf

# Binaries.
*.gpg       binary
*.gz        binary
*.jpg       binary
*.png       binary
*.tar       binary
*.tar.*     binary
