# Vim
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~

# Vagrant
scripts/*.log
scripts/.vagrant/

# Built *.deb files.
/debs/

# Preinstalled build tools.
/build-tools/

# Predownloaded packages sources.
/packages/*/cache
