# Vim
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~

# Vagrant
scripts/.vagrant/

# Logs
scripts/*.log
/*.log

# Misc archives
/*\.deb
/*\.zip
/*\.tar
/*\.tar\.*

# Source files.
/sources/

# GitHub Actions build artifacts
debs*
checksum*

# Built *.deb files.
/debs/
/output/

# Preinstalled build tools.
/build-tools/

# Predownloaded packages sources.
/packages/*/cache
/root-packages/*/cache
/x11-packages/*/cache

# Temp .git directories for packages built from local sources "file://"
/*.git

# temporary data used by docker container
/data/
/ccache/
/ccache-debug/
/termux-build/
