# Default assignment: frequent contributors from @termux.
* @Grimler91 @TomJo2000

# GitHub Actions & other stuff
/.github @thunder-coding

# Documentation for contributors
/CONTRIBUTING.md @thunder-coding
/README.md @thunder-coding

# Build system.
/build-all.sh @Grimler91
/build-package.sh @Grimler91 @thunder-coding
/clean.sh @Grimler91 @thunder-coding
/scripts/ @Grimler91 @thunder-coding
/repo.json @Grimler91 @thunder-coding

# GN setup script
/scripts/build/setup/termux_setup_gn.sh @thunder-coding

# Nodejs setup script
/scripts/build/setup/termux_setup_nodejs.sh @thunder-coding

# Packages owned by @finagolfin
/packages/libdispatch/ @finagolfin
/packages/libllvm/ @finagolfin
/packages/llbuild/ @finagolfin
/packages/swift/ @finagolfin

# Packages owned by @Grimler91
/packages/chezmoi/ @Grimler91
/packages/docopt/ @Grimler91
/packages/libprotobuf-c/ @Grimler91
/packages/libqrencode/ @Grimler91
/packages/mpdscribble/ @Grimler91
/packages/pass-otp/ @Grimler91
/packages/root-repo/ @Grimler91
/packages/runit/ @Grimler91
/packages/smalltalk/ @Grimler91
/packages/teckit/ @Grimler91
/packages/termux-services/ @Grimler91
/packages/texlive-bin/ @Grimler91

# Packages owned by @kcubeterm
/packages/brook/ @kcubeterm
/packages/delve/ @kcubeterm
/packages/duf/ @kcubeterm
/packages/fzy/ @kcubeterm
/packages/gh/ @kcubeterm
/packages/gping/ @kcubeterm
/packages/hors/ @kcubeterm
/packages/k9s/ @kcubeterm
/packages/lazygit/ @kcubeterm
/packages/libtorrent/ @kcubeterm
/packages/lsd/ @kcubeterm
/packages/pup/ @kcubeterm
/packages/ripgrep-all/ @kcubeterm
/packages/rush/ @kcubeterm
/packages/rustscan/ @kcubeterm
/packages/shc/ @kcubeterm
/packages/shell2http/ @kcubeterm
/packages/shiori/ @kcubeterm
/packages/youtubedr/ @kcubeterm

# Packages owned by @MrAdityaAlok
/packages/ghc/ @MrAdityaAlok
/packages/cabal-install/ @MrAdityaAlok
/packages/libdvbcsa/ @MrAdityaAlok
/packages/tvheadend/ @MrAdityaAlok

# Packages owned by @thunder-coding
/packages/arti/ @thunder-coding
/packages/flyctl/ @thunder-coding
/packages/git-sizer/ @thunder-coding
/packages/gn/ @thunder-coding
/packages/lychee/ @thunder-coding
/packages/nodejs/ @thunder-coding
/packages/nodejs-lts/ @thunder-coding
/packages/silicon/ @thunder-coding
/packages/slides/ @thunder-coding

# Packages owned by @TomJo2000
/packages/bash-completion/ @TomJo2000
/packages/bash/ @TomJo2000
/packages/borgbackup/ @TomJo2000
/packages/coreutils/ @TomJo2000
/packages/diffutils/ @TomJo2000
/packages/eza/ @TomJo2000
/packages/git/ @TomJo2000
/packages/git-delta/ @TomJo2000
/packages/gopass/ @TomJo2000
/packages/gopls/ @TomJo2000
/packages/grep/ @TomJo2000
/packages/less/ @TomJo2000
/packages/lesspipe/ @TomJo2000
/packages/lua-language-server/ @TomJo2000
/packages/lua-lpeg/ @TomJo2000
/packages/mandoc/ @TomJo2000
/packages/moreutils/ @TomJo2000
/packages/mpv/ @TomJo2000
/packages/ncdu/ @TomJo2000
/packages/ncdu2/ @TomJo2000
/packages/neovim/ @TomJo2000
/packages/nerdfix/ @TomJo2000
/packages/openssh/ @TomJo2000
/packages/rip2/ @TomJo2000
/packages/rsgain/ @TomJo2000
/packages/rsync/ @TomJo2000
/packages/shellcheck/ @TomJo2000
/packages/starship/ @TomJo2000
/packages/taplo/ @TomJo2000
/packages/tinymist/ @TomJo2000
/packages/tmux/ @TomJo2000
/packages/tree-sitter* @TomJo2000
/packages/typstfmt/ @TomJo2000
/packages/vim/ @TomJo2000
/packages/zls/ @TomJo2000
/packages/zrok/ @TomJo2000
/packages/zsh/ @TomJo2000
/x11-packages/alacritty/ @TomJo2000
/x11-packages/jwm/ @TomJo2000
/x11-packages/mpv-x/ @TomJo2000
/x11-packages/qbittorrent/ @TomJo2000
/x11-packages/vim-gtk/ @TomJo2000

# Packages owned by @2096779623
/packages/alist/ @2096779623
/packages/frp/ @2096779623

# Packages owned by @twaik
/x11-packages/termux-x11-nightly/ @twaik

# Packages owned by @Maxython
/packages/pacman/ @Maxython
/packages/glibc-repo/ @Maxython

# Packages owned by @licy183
/packages/llvm-mingw-w64/ @licy183
/packages/llvm-mingw-w64-libcompiler-rt/ @licy183
/packages/llvm-mingw-w64-tools/ @licy183
/packages/llvm-mingw-w64-ucrt/ @licy183
/packages/pypy/ @licy183
/packages/pypy3/ @licy183
/packages/virglrenderer-android/ @licy183
/x11-packages/carbonyl/ @licy183
/x11-packages/carbonyl-host-tools/ @licy183
/x11-packages/chromium/ @licy183
/x11-packages/chromium-host-tools/ @licy183
/x11-packages/electron-for-code-oss @licy183
/x11-packages/electron-host-tools-for-code-oss @licy183
/x11-packages/otter-browser/ @licy183
/x11-packages/qt5-qtwebengine/ @licy183
