[Desktop Entry]
Name=MAME™ Arcade Emulator
Name[ca]=Emulador de jocs arcade MAME™
Name[fr]=Emulateur arcade MAME™
Name[it]=Emulatore di giochi arcade MAME™
GenericName=Arcade Emulator
GenericName[ca]=Emulador de jocs arcade
GenericName[fr]=Emulateur arcade
GenericName[it]=Emulatore di giochi arcade
Comment=Play vintage arcade games using the MAME™ emulator
Comment[ca]=Jugueu a jocs d'arcade antics emprant l'emulador MAME™
Comment[fr]=Jugueu a jocs d'arcade antics emprant l'emulador MAME™
Comment[it]=Gioca ai vecchi arcade con l'emulatore MAME™
Exec=mame
Icon=mame
Terminal=false
Type=Application
Categories=Game;Emulator;
Keywords=Game;Emulator;Arcade;
