[Desktop Entry]
Version=1.0
Type=Application
Name=Zed
GenericName=Text Editor
Comment=High-performance, multiplayer code editor
TryExec=zed
Exec=zed %U
Icon=zed
Terminal=false
StartupNotify=true
StartupWMClass=dev.zed.Zed
Categories=Utility;TextEditor;Development;IDE;
Keywords=zed;
MimeType=text/plain;application/x-zerosize;x-scheme-handler/zed;
Actions=NewWorkspace;

[Desktop Action NewWorkspace]
Name=Open a new workspace
Exec=zed --new %U
