[Desktop Entry]
Type=Application
Name=XBill
Comment=Get rid of those Wingdows Viruses!
Comment[de]=Werden Sie diese Wingdows-Viren los!
Comment[it]=Fai piazza pulita dai virus Wingdows!
Icon=xbill
Exec=xbill
Terminal=false
Categories=Game;ArcadeGame;
Keywords=Game;Bill;Viruses
