[Desktop Entry]
Categories=Qt;Development;Documentation;
Encoding=UTF-8
Exec=assistant
Name=Qt Assistant
GenericName=Document Browser
X-KDE-StartupNotify=true
MimeType=application/x-assistant;
Terminal=false
Type=Application
Icon=assistant
