[Desktop Entry]
Categories=Qt;Development;GUIDesigner;
Encoding=UTF-8
Exec=designer
Name=Qt Designer
GenericName=Interface Designer
X-KDE-StartupNotify=true
MimeType=application/x-designer;
Icon=designer
Terminal=false
Type=Application
