[Desktop Entry]
Categories=Qt;Development;Translation;
Encoding=UTF-8
Exec=linguist
Name=Qt Linguist
GenericName=Translation Tool
X-KDE-StartupNotify=true
MimeType=application/x-linguist;
Terminal=false
Type=Application
Icon=linguist
