[Desktop Entry]
Categories=Qt;Development;Debugger;
Encoding=UTF-8
Exec=qdbusviewer
Name=Qt D-Bus Viewer
GenericName=D-Bus Debugger
Comment=Introspect D-Bus objects and messages
X-KDE-StartupNotify=true
Terminal=false
Type=Application
Icon=qdbusviewer
