<?xml version="1.0" encoding="UTF-8"?>

<openbox_menu xmlns="http://openbox.org/3.4/menu">
  <menu id="apps-development" label="Development">
    <item label="FLTK Text Editor">
      <action name="Execute">
        <command>fltk-editor</command>
        <startupnotify>
          <enabled>yes</enabled>
        </startupnotify>
      </action>
    </item>
    <item label="FLUID">
      <action name="Execute">
        <command>fluid</command>
        <startupnotify>
          <enabled>yes</enabled>
        </startupnotify>
      </action>
    </item>
    <item label="Geany">
      <action name="Execute">
        <command>geany</command>
        <startupnotify>
          <enabled>yes</enabled>
        </startupnotify>
      </action>
    </item>
  </menu>

  <menu id="apps-games" label="Games">
    <item label="The Powder Toy">
      <action name="Execute">
        <command>the-powder-toy</command>
        <startupnotify>
          <enabled>yes</enabled>
        </startupnotify>
      </action>
    </item>
  </menu>

  <menu id="apps-misc" label="Misc">
    <item label="DosBox">
      <action name="Execute">
        <command>dosbox</command>
        <startupnotify>
          <enabled>yes</enabled>
        </startupnotify>
      </action>
    </item>
  </menu>

  <menu id="root-menu" label="Openbox">
    <separator label="Applications" />
    <menu id="apps-development"/>
    <menu id="apps-games"/>
    <menu id="apps-misc"/>
    <separator />
    <item label="Terminal">
      <action name="Execute">
        <command>aterm</command>
        <startupnotify>
          <enabled>yes</enabled>
        </startupnotify>
      </action>
    </item>
    <separator />
    <item label="Configure Openbox">
      <action name="Execute">
        <command>obconf</command>
        <startupnotify>
          <enabled>yes</enabled>
        </startupnotify>
      </action>
    </item>
    <separator />
    <item label="Stop OpenBox session">
      <action name="Exit">
        <prompt>yes</prompt>
      </action>
    </item>
  </menu>
</openbox_menu>
