name: Build Node.js package

on:
  push:
    tags:
      - "*"

jobs:
  node-runtime-builder:
    runs-on: ubuntu-latest
    steps:
      - name: Clone repository
        uses: actions/checkout@v3

      - name: Build OpenSSL and Node.js, package things
        uses: addnab/docker-run-action@v3
        with:
          image: dockitava/package-builder:latest
          options: -v ${{ github.workspace }}:/home/builder/termux-packages
          run: |
            id -u
            echo "chown madness start.."
            sudo chown -R $(id -u) /home/builder
            sudo chown -R $(id -u) /data
            sudo usermod -u $(id -u) builder
            sudo groupmod -g $(id -g) builder
            echo "chown madness done.."

            mkdir -p /home/builder/termux-packages/_out/node
            mkdir -p /home/builder/termux-packages/_out/libs

            echo "# Build packages - this takes a loooong time!"
            cd /home/builder/termux-packages
            # quite build
            ./build-package.sh -q openssl nodejs

            echo "# Unpack Node.js & rename"
            cd /home/builder/termux-packages/_out
            cp -f /home/builder/termux-packages/output/node* ./
            ar x ./node*.deb data.tar.xz
            unxz -v data.tar.xz
            tar xvf data.tar
            cp -rf ./data/data/com.termux/files/usr/bin/node ./node/libnodeexe.so
            ls -al ./node

            echo "# Copy Node.js runtime deps"
            cd /home/builder/termux-packages/_out
            cp -rf /data/data/com.termux/files/usr/lib/libssl* ./libs
            cp -rf /data/data/com.termux/files/usr/lib/libcrypt* ./libs
            rm -f ./libs/*.a
            cp -f /data/data/com.termux/files/usr/lib/libc++_shared.so ./libs
            ls -al ./libs
            cd /home/builder/termux-packages/_out/libs
            zip -9 libs *
            ls -al

      - name: Create Github Release
        uses: softprops/action-gh-release@v1
        with:
          files: |
            ./_out/node/libnodeexe.so
            ./_out/libs/libs.zip
